#search {
  .block;
  .clearfix;
  .relative;
  padding:4rem .6rem;
  z-index:2;
  .bottom-inset;

  h1#title {
    .block;
    .relative;
    max-width:700px;
    font-size:1.85rem;
    margin:0 auto .5rem auto;
    .font-body;
  }

}

#search-wrap {
  .block;
  .clearfix;
  .relative;
  .shadow-1;
  max-width:700px;
  margin:auto;

  #name,#region {
    .box-sizing(border-box);
    .relative;
    .block;
    z-index:2;
    float:left;
    border:0;
    height:50px;
    font-size:1.1rem;
    width:12%;
  }
  #name {
    border-right:0;
    width:88%;
    padding:8px;
    .border-top-left-radius(2px);
    .border-bottom-left-radius(2px);
  }
  #region {
    border-left:2px groove #fff;
    .border-top-right-radius(2px);
    .border-bottom-right-radius(2px);
    option {padding-left:0;}
  }
}

.search #search-wrap {
  margin-left:5px;
  margin-top:7px;
    #region,#name {height:35px;font-size:.9rem;}
    #region {width:20%}
    #name {width:80%}
}
