#summoner {
  .relative;.block;.clearfix;
  margin:auto;

  // Utility
  .small-body {
    .font-standard;
    font-weight:bold;
    font-size:.9rem;
    &.smaller {font-size:.75rem;}
    &.tiny {font-size:.65rem}
    &.caps {text-transform:uppercase;}
    &.font-body {.font-body;font-weight:normal;}
  }

  // Info
  #summoner-info {
    .block;.relative;.clearfix;
    .bottom-inset;
    overflow:hidden;

    // wraps basic info + top champs
    #info-wrap {
      .relative;.clearfix;
      margin:auto;
      max-width:1024px;
      padding:0 15px;
      height:0;

      #info-main {
        .inline-block;margin-top:10px;
        height:110px;

        .vertical:first-child {margin-left:0;}
      }
      #info-mastery {
        .absolute;height:120px;top:0;right:0;
        cursor:move;
        overflow:hidden;
        #mastery-wrap {.relative;.block;height:120px;}
      }

      .vertical {
        .block;.relative;float:left;
        text-align:left;
        margin-left:10px;
        &.center {text-align:center;}
      }
      .name {
        .relative;
        margin-top:-3px;
        font-size:1.5rem;
        margin-bottom:5px;
      }
      .icon {
        .block;.relative;
        overflow:visible;
        width:auto;
        height:100px;
        width:100px;

        img {height:100px;width:100px;}
        &:after {
          content:"";
          .absolute;
          left:-4px;right:0;top:-6px;bottom:0;
          width:108px;
          height:110px;
          z-index:2;
          background:transparent url('/images/icon_border.png') no-repeat center center;
        }
      }
      #info-basic .level {
        .relative;
        margin-top:7px;
      }
      #solo-league {
        .clearfix;.relative;
        margin-top:3px;

        img {
          .block;float:left;
          max-width:47px;
          height:auto;
          margin-right:8px;
        }
        .rank {
          .block;float:left;
          padding-top:11px;
          span {
            .block;
            &.inline {.inline}
            &:first-letter {text-transform:uppercase;}
          }
        }
      }

      // summoner top champs
      #info-mastery {
        margin-left:15px;
        .clearfix;.text-left;
        height:124px;

        .title {margin-bottom: 5px;}
        img {
          width:auto;
          height:120px;
        }
        .mastery-level {
          .absolute;bottom:2px;left:0;right:0;
          .text-center;
          font-size:.6rem;
          z-index:2;
          padding: 3px;
        }
        #mastery-wrap {
          padding-right:10px;
          overflow-y:hidden;
        }
      }

      @media(max-width:800px) {
        .text-center;
        #info-main,#info-mastery {.clearfix;float:none;}
        #info-mastery {
          .relative;.block;width:100%;
          margin-left:0;margin-top:15px;
          overflow-x:visible;
          height:140px;
          .vertical:first-child {margin-left:0;}
        }
      }

    }
  }

  // Wrap
  .summoner-wrap {
    .block;.relative;.clearfix;
    margin:auto;
    max-width:1024px;
  }

  // Recent Games
  #recent-games {
    .relative;float:left;
    overflow:hidden;
    width:45%;
    padding:15px;
    @media(max-width:800px) {
      .clearfix;float:none;margin:auto;
      width:100%;
      overflow:visible;
    }

    #recent-wrap {
      .block;.relative;width:100%;
      h2.recent {font-size:1.8rem;}

      .game {
        .clearfix;.relative;
        width:100%;
        .border-radius(2px);
        position:relative;
        margin-top:15px;
        padding:5px;
        .shadow-1;

          // Structure
          .vertical { //vertical col
            .block;.relative;float:left;
            padding-left:6px;
            &:first-child {padding-left:0;}
            &.right {float:right;}
            div {
              margin-bottom:3px;
              &:last-child {margin-bottom:0;}
            }
          }

          .wl, .award { //win/loss, award buttons
            min-width:102px;
            max-width:110px;
            padding:2px 1px;
            text-align:center;
            .border-radius(2px);
          }
          .award {
            .text-left;
          }

          // Champ Icon
          .icon {
            max-width:50px;
            height:auto;
            .border-radius(2px);
          }

          // Summoner Spells
          .sum-spells {
            .clearfix;.relative;
            width:50px;

            .spell {
              float:left;
              &:first-child {margin-right:2px;}
              img {width:24px;height:24px;.border-radius(2px);}
            }
          }

          // Right Stats (kda, cs, gold, time ago)
          .kda {font-size:1rem;}
          .cs, .gold {
            height:18px;
            .border-radius(2px);
            padding:0 3px;
            img {max-height:18px;width:auto;.inline-block;margin-left:4px;}
            span {
              .inline-block;
              .transform(translateY(-5px));
            }
          }
          .gold span {.transform(translateY(-6px));}

          //items
          .item-header {.block;.relative;.text-left}
          .items {
            .clearfix;
            .relative;
            margin-right:15px;

            .left, .right {float:left;}
            .right {padding-top:16px;margin-left:3px;}
            .top, .bottom {
              .clearfix;.block;.relative;
              height:28px;
            }
            .item {
              .block;.relative;
              float:left;
              margin-right:3px;
              width:28px;height:28px;
              img {width:28px;height:28px;.border-radius(4px);}
              &:last-child {margin-right:0;}
            }
          }
      }
      @media(max-width:975px) {
        .game {.text-center}
        .game .vertical, .game .vertical.right {float:none;.clearfix;.inline-block;vertical-align:top;}
        .game .vertical:nth-child(2) {padding:3px 15px 0 15px;.text-left;}
        .game .vertical.right:last-child {float:none;.block;.text-center;}
        .game .items {
          .inline-block;margin-right:0;
          .left, .left .top, .left .bottom, .right {
            .inline-block;float:none;margin-bottom:0;padding-top:0;
          }
        }
        .game .item-header {.text-center;margin-top:8px;}
      }
    }
  }

  // Runes
  #summoner-runes {
    .relative;float:right;
    width:55%;
    padding:15px;

    h2.runes {
      font-size:1.8rem;
      margin-bottom:1rem;
    }

    #rune-page-list {
      padding:6px 0 0 6px;
      border:1px solid transparent;
    }
    a.rune-page {
      .inline-block;.relative;
      font-size:.9rem;
      cursor:pointer;
      padding:4px;
      font-weight:bold;
      border:2px solid transparent;
      margin:0 6px 6px 0;

      .transition(opacity .15s ease-in-out);
      &.active {.border-radius(1px)}
      &:hover {.opacity(.6)}
      &:last-child {margin-right:0;}
    }

    #rune-display {
      padding:6px 6px 10px 6px;
      border:1px solid transparent;
      border-top:0;
      margin-bottom:1.6rem;

      .rune {
        .block;.clearfix;.relative;
        margin-bottom:8px;
        &:last-child {margin-bottom:0;}

        img,.rune-name {float:left;}
        img {.block;width:32px;height:32px;}
        .rune-name {
          height:32px;padding-top:10px;
          font-size:.8rem;font-weight:bold;
          margin-left:8px;
        }
      }

      .runes-visual {
        .block;.relative;width:320px;
        margin:1rem auto 0 auto;
        img.bg {
          .block;margin:auto;
          width:320px;height:auto;
          z-index:1;
        }
        img.single {
          position:absolute;z-index:2;
          max-width:26px;height:auto;
          bottom:3px;left:3px;
        }
        .m .mark {
          &:nth-child(1) {bottom: 4px;left: 11px;}
          &:nth-child(2) {bottom: 4px;left: 41px;}
          &:nth-child(3) {bottom: 4px;left: 77px;}
          &:nth-child(4) {bottom: 32px;left: 4px;}
          &:nth-child(5) {bottom: 34px;left: 34px;}
          &:nth-child(6) {bottom: 27px;left: 61px;}
          &:nth-child(7) {bottom: 57px;left: 16px;}
          &:nth-child(8) {bottom: 55px;left: 54px;}
          &:nth-child(9) {bottom: 76px;left: 35px;}
        }
        .s .seal {
          &:nth-child(1) {bottom: 98px;left: 17px;}
          &:nth-child(2) {bottom: 99px;left: 52px;}
          &:nth-child(3) {bottom: 121px;left: 32px;}
          &:nth-child(4) {bottom: 133px;left: 59px;}
          &:nth-child(5) {bottom: 155px;left: 74px;}
          &:nth-child(6) {bottom: 168px;left: 102px;}
          &:nth-child(7) {bottom: 177px;left: 130px;}
          &:nth-child(8) {bottom: 186px;left: 161px;}
          &:nth-child(9) {bottom: 162px;left: 175px;}
        }
        .g .glyph {
          &:nth-child(1) {bottom: 184px;left: 194px;}
          &:nth-child(2) {bottom: 161px;left: 211px;}
          &:nth-child(3) {bottom: 185px;left: 227px;}
          &:nth-child(4) {bottom: 142px;left: 234px;}
          &:nth-child(5) {bottom: 165px;left: 249px;}
          &:nth-child(6) {bottom: 185px;left: 267px;}
          &:nth-child(7) {bottom: 168px;left: 291px;}
          &:nth-child(8) {bottom: 148px;left: 271px;}
          &:nth-child(9) {bottom: 123px;left: 282px;}
        }
        .q .quintessence {
          &:nth-child(1) {bottom: 159px;left: 25px;}
          &:nth-child(2) {bottom: 68px;left: 101px;}
          &:nth-child(3) {bottom: 96px;left: 208px;}
        }
      }

    }

    @media(max-width:374px) {
      #rune-display .runes-visual {margin-left:-22px;}
      #rune-display {padding-bottom:0;}
    }
    @media(max-width:800px) {
      .clearfix;float:none;margin:auto;width:100%;
    }
    @media(max-width:949px) {
      #rune-display .rune {
        text-align:center;
        padding:3px 0 8px 0;
        img, .rune-name {.clearfix;float:none;}
        .rune-name {padding-top:3px;height:auto;}
        img {.inline-block;}
      }
    }
  }

  // Matches
  #matches {

    .clearfix;
    &.active {display:block;}
  }

}
