#summoner {
  display:none;
  position:relative;
  max-width:900px;
  margin:auto;
  .clearfix;

  // Info
  .info {
    padding:8px 15px 15px 15px;
    .border-radius(2px);
    .clearfix;
  }
  .icon {
    float:left;
    width:auto;
    max-height:100px;
    margin-right:15px;
  }
  .name { margin-bottom:15px; }

  // Recent Games
  .recent {
    .clearfix;
    width:100%;
    padding:15px;

      .game {
        .clearfix;
        .border-radius(2px);
        position:relative;
        margin-top:15px;

          img {
            max-width:100px;
            height:auto;
            .border-radius(2px);
          }
      }
  }

  // Matches
  .matches {

    .clearfix;
    &.active {display:block;}
  }

}
