/*
  Default Theme, insipiration:
  http://www.colourlovers.com/palette/932683/Compatible
*/

// color vars
@default-primary: #3FB8AF;
@default-secondary: #FF3D7F;
@default-cream: #FF9E9D;
@default-yellow: #DAD8A7;
@default-green: #7FC7AF;

@default-light: #fafafa;
@default-nav: #f0f0f0;
@default-darker: #0a0a0a;
@default-dark: #222;
.text-dark {color:@default-dark!important;}
@default-gray: #aaa;
@default-gray-lighter: #ddd;
.bg-gray-lighter {background-color:@default-gray-lighter!important;}

@default-error: #bf4141;
.text-error {color:@default-error!important;}
@default-success: #135e35;
.text-success {color:@default-success!important;}
@default-info: #5e4013;

@default-award: #175960;

// theme styling
body.theme-default {
  background:@default-primary;
  color:@default-darker;

  #error {background:@default-yellow;}
  #loading {color:@default-light;}

  // Nav + Logo
  //#logo {color:@default-secondary;}
  nav#nav {
    background:@default-nav;

      #nav-main .link {color:@default-dark;}
      #nav-main .nav-icon {border-color:@default-dark;color:@default-dark;}
      #dev-menu {background:@default-nav;}
      #dev-menu.swap {background:@default-secondary;}
  }

  // Search
  #search {
    background:@default-secondary;
    h1#title {
      color:@default-light;
      //text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
    }
  }

  // Summoner
  #summoner {

    //info
    #summoner-info {
      color:@default-light;
      background:@default-primary;
    }

    //recent
    #recent-games {
      .deaths {color:@default-error;}
      .wl {color:@default-light;}
      .wl.win {background:@default-success;}
      .wl.loss {background:@default-error;}
      .award {
        background:@default-award;
        color:@default-light;
        .icon-star {color:@default-yellow;}
      }
      .cs,.gold {background:@default-gray-lighter;}
    }
  }

}
