/*
  Default Theme
*/

// color vars
@default-bg: #111;
@default-light: #fafafa;
@default-dark: #060606;
@default-gray: #aaa;

@default-error: #c41d1d;
@default-success: #135e35;
@default-info: #5e4013;

// theme styling
body.theme-default {
  background:@default-bg;
  color:@default-light;

  #error {background:@default-error;}
  #summoner .info {border-color:@default-gray;}

}
